<footer>
    <a href="https://www.linkedin.com/in/saidnivek/"><img class="footer-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQEaq51-ckQ1sQ/profile-displayphoto-shrink_200_200/0/1617755796952?e=1656547200&v=beta&t=Z9lDf0NEt2D2uJhDIrsVZvb9phRRu3S_BhUXXxBv1sY" alt="Link to Kevin Dias' LinkedIn Page"></a>
    <a href="https://www.linkedin.com/in/juan-oller/"><img class="footer-img" src="https://media-exp1.licdn.com/dms/image/C5603AQERsrIlKu4eQg/profile-displayphoto-shrink_200_200/0/1650633309669?e=1656547200&v=beta&t=zO75yCTizYFjHu8cUSc1rXRb8fRgj2mWPg0HthjKL-M" alt="Link to Juan Oller's LinkedIn Page"></a>
</footer>