<section>
    <div class="main-page-title">
        <div>
            <a class="link" href="/">
                <h1 class="title">IG 2.0</h1>
            </a>
        </div>
        <div>
            <p>Login</p>
            <p>Register</p>                
        </div>
    </div>
</section>