<nav>
    <div class="main-page-title">
        <div>
            <a class="link" href="/">
                <h1 class="title">IG 2.0</h1>
            </a>
        </div>
        <div>
            <button class="button is-primary">Login</button>
            <button class="button is-primary">Register</button>                
        </div>
    </div>
</nav>