<nav class="navbar">
    <div class="navbar-brand">
        <a class="link" href="/">
            <h1 class="title">IG 2.0</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <!-- navbar items, navbar burger... -->
            </div>
            <div class="navbar-menu">
              <!-- navbar start, navbar end -->
            </div>
          </nav>
    </div>

            <button class="button is-primary navbar-item">Login</button>
            <button class="button is-primary navbar-item">Register</button>            

</nav>