<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "About Us" }) %>

<body>  
    <%- include('partials/nav.ejs') %>

    <main class="container about-us">
        <h1>About Us</h1>
        <div class="creator-info">
            <a href="https://www.linkedin.com/in/juan-oller/">
                <img class="footer-img" src="https://media-exp1.licdn.com/dms/image/C5603AQERsrIlKu4eQg/profile-displayphoto-shrink_200_200/0/1650633309669?e=1656547200&v=beta&t=zO75yCTizYFjHu8cUSc1rXRb8fRgj2mWPg0HthjKL-M" alt="Juan Oller's Image & LinkedIn Page">
                <h3>Juan Oller</h3>
            </a>
            <p class="info">Hi! Welcome to our page. I am a soon to be software engineer and exited to be on this career path. I enjoy the outdoors and anything fitness. Yes I am a dog dad (hes posted on our page). His Name is Guapo, he is a resecue from Roswell NM, and is currently supporting me through this joruney 🙂.</p>
        </div>
        <div class="creator-info">
            <a href="https://www.linkedin.com/in/saidnivek/">
                <img class="footer-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQEaq51-ckQ1sQ/profile-displayphoto-shrink_200_200/0/1617755796952?e=1656547200&v=beta&t=Z9lDf0NEt2D2uJhDIrsVZvb9phRRu3S_BhUXXxBv1sY" alt="Kevin Dias' Image & LinkedIn Page">
                <h3>Kevin Dias</h3>
            </a>
            <p class="info">Software engineer convert with a background in literature and higher education. Loves a good challenge and figuring out how things work. All-around nerd with a passion for games (video, board, card, and tabletop). Cat co-parent of two very lovely grey nuisances.</p>
        </div>
        <h3>Thank you for checking out our work!</h3>
    </main>
</body>

</html> 