<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', { pageName: "Update Profile" }) %>

<body>

    <%- include('../partials/nav.ejs') %>
    
    <div class="field"> 
        <form method="POST" action="/user/<%=user._id%>?_method=PUT">
            <h1> Change Profile Picture | <%= user.username%></h1></h1>
        <div>
            <label class="label">Photo image</label>
            <input class="input" placeholder="Enter a new profile picture" type="text" name="image" "/>
        </div>
        <div>
            <input class="button is-primary" type="submit" value="Update Profile Picture"/>
        </div>
    </div>  
</body>
</html>