@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
body {
  background-color: #F5F5F5;
}

a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #00d1b2;
  opacity: 0.7;
}
a:active {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
footer a {
  margin: 1rem;
}
footer img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

nav .navbar-end {
  gap: 2px;
  margin-top: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
}
nav .title {
  font-size: 5rem;
}

.container.main-page .main-page-user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container.main-page .main-page-user h2 {
  font-size: 2rem;
}
.container.main-page .main-page-user img {
  border-radius: 25px;
  width: 7rem;
  height: 7rem;
}
.container.main-page .main-page-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container.main-page .main-page-photo h2 {
  font-size: 2rem;
}
.container.main-page .main-page-photo img {
  width: 20rem;
  height: 20rem;
  border-radius: 25px;
}
.container.main-page .main-page-photo a {
  width: 50%;
  margin-left: 8rem;
}
.container.main-page .main-page-photo .caption-div {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 3px 3px grey;
  padding: 15px;
  margin: 5px 15px;
  border-radius: 5px;
}

.container.about-us h1 {
  font-size: 4rem;
}
.container.about-us h3 {
  font-size: 2rem;
  margin-bottom: 25px;
}
.container.about-us .creator-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container.about-us .creator-info img {
  border-radius: 25px;
  width: 12rem;
  height: 12rem;
}
.container.about-us .info {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 3px 3px grey;
  padding: 15px;
  margin: 5px 15px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 50%;
}

.container.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.flex .user-image {
  width: 10rem;
  height: 10rem;
  border-radius: 25px;
}

.main-page-user {
  margin: 5px;
}
.main-page-user .small-user-image {
  width: 8vw;
  height: 8vw;
}
.main-page-user .user-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 10%;
  left: 2%;
}
.main-page-user .user-div div {
  margin-bottom: 3px;
}

.container.flex.user main, .container.flex.user div {
  margin-bottom: 5px;
}
.container.flex.user img {
  width: 10vw;
  height: 10vw;
  border-radius: 15px;
  box-shadow: 5px 5px grey;
}
.container.flex.user .photo-caption-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container.flex.user .photo-caption-div img {
  margin-bottom: 10px;
}
.container.flex.user .photo-caption-div p {
  font-size: 1.3rem;
}

.container.show-photo .return-image {
  width: 8rem;
  height: 8rem;
  border-radius: 25px;
  margin-top: 2rem;
}
.container.show-photo .photo-show-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container.show-photo h2 {
  font-size: 1.5rem;
}
.container.show-photo img {
  border-radius: 15px;
  max-width: 25vw;
}
.container.show-photo section {
  width: 75vw;
}
.container.show-photo .container {
  width: 30vw;
}
.container.show-photo .username {
  font-size: 1.3em;
}
.container.show-photo .comment-div, .container.show-photo .comment {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 3px 3px grey;
  padding: 5px;
  margin: 5px 15px;
  border-radius: 5px;
}
.container.show-photo p {
  font-size: 1.2rem;
}
.container.show-photo .comment {
  background-color: #F5F5F5;
}

.small-user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 25px;
}

/*# sourceMappingURL=main.css.map */
