<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', { pageName: "Update Profile" }) %>

<body>
    <%- include('../partials/nav.ejs') %>


    <div class="field"> 
        <form method="POST" action="/user/photos/<%=photo._id%>?_method=PUT">
            <h1>Change the photo's caption</h1>
        <div>
            <label for="caption" class="label">Edit Caption</label>
            <input class="input" placeholder="<%= photo.caption %>" type="text" name="caption" id="caption" />
        </div>
        <div>
            <input class="button is-primary" type="submit" value="Update Caption"/>
        </div>
    </div>  
</body>
</html>